* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#258dc8+0,258dc8+100;Blue+Flat+%231 */
background: #258dc8; /* Old browsers */
background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */

}

body {
	font-family: 'Open Sans', sans-serif;
	
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#356aa0+0,356aa0+100;Blue+Flat */
background: #356aa0; /* Old browsers */
background: -moz-linear-gradient(top,  #356aa0 0%, #356aa0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #356aa0 0%,#356aa0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */

	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
